@use './styles/constants/breakpoints';
@use './styles/constants/colors';

*, *:before, *:after{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: breakpoints.$lg) {
  html {
    scroll-behavior: auto;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.acceleratedRendering {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide-in {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100lvh;
  background-color: colors.$primary;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100lvh;
  background-color: colors.$primary;
  transform-origin: top;
}

body {
  transition-property: opacity, transform, filter, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background-color: colors.$primary;
  transform: translateY(40px);
}